/*mobile viewport*/
@media screen and (max-width: 541px) and (max-width:800px) {
    nav li {
        padding: 5px 0px;
        margin: 2px;
        background-color: goldenrod;
        border-radius: 20px;
    }
    body{
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
    }
    body nav{
        border:none;
    }
    figure .fig2{
        display: none;
    }
    .desktop{
        display: none;
    }
    .tablet{
        display: none;
    }
    main div .center{
        background-color: cyan;
        width: 95%;
    }
}